body {
    height: 100vh;
    font-family: monospace;
}

.Name-Page {
    width: 500px;
    margin: auto;
    padding-top: 100px;
}

.form {
    font-family: monospace;
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 25px;
    text-align: center;
}

.form input {
    font-family: monospace;
    outline: 1;
    background: rgb(226 218 218 / 54%);
    width: 100%;
    border: 0;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 10px;
}

.form button {
    font-family: monospace;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.form p {
    font-family: monospace;
    font-size: 60%;
    margin: 15px;
    font-size: 15px;
}

.form button:hover {
    background: #43A047;
    font-size: 20px;
}

.exam-form-helptext{
    margin: 20px 0px 20px 0px;
    color: #068499;
    font-size: 16px;
    line-height: 2;
}
